<header class="flex">
  <h1 class="">Blagues Carambar</h1>
</header>

<main class="main">

  @if (models) {
  <div class="models">
    <p class="p1">{{models.question}}</p>
    <!-- <p class="p2">{{models.answer}}</p> -->
    @if (voirReponse) {
    <p class="p2"><strong></strong> {{ models.answer }}</p>
    }
  </div>
  }
  <div class="btn">
    <button (click)="voirReponse = !voirReponse">
      {{ voirReponse ? 'Masquer la réponse' : 'Voir la réponse' }}
    </button>
  </div>


  <div class="btn">
    <button (click)="change()" class="">
      Nouvelle Blague 🍬
    </button>

  </div>
</main>

<router-outlet></router-outlet>